<% provide(:title, "#{@micropost.user.name}'s micropost") %>

<div class="row">
  <aside class="col-md-4">
    <%= render 'users/follow_form' %>
    <section class="user_info">
      <h1>
        <%= gravatar_for @micropost.user %>
        <%= @micropost.user.name %> (@<%= @micropost.user.user_name %>)
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3><%= @micropost.user.name %> Micropost</h3>
    <ol class="microposts">
      <%= render @micropost %>
    </ol>
    <% if logged_in? %>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    <% end %>
  </div>
</div>
